[project]
	description = For testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PhanindraM
[access "refs/for/refs/*"]
	read = group user/PhanindraM
	push = group user/PhanindraM
	label-Code-Review = -2..+2 group user/PhanindraM
	label-Verified = -1..+1 group user/PhanindraM
	rebase = group user/PhanindraM
	removeReviewer = group user/PhanindraM
	submit = group user/PhanindraM
[access "refs/heads/*"]
	read = group user/PhanindraM
	create = group user/PhanindraM
	push = +force group user/PhanindraM
	pushMerge = group user/PhanindraM
[access "refs/tags/*"]
	push = +force group user/PhanindraM
	pushTag = group user/PhanindraM
	pushSignedTag = group user/PhanindraM
